body {
    background-image: url("../images/backgrround.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Tillana', sans-serif;
    color: white;
    background-color: rgba(9, 52, 52, 0.251);
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #164e2baf;
}

li {
    float: left;
   
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: rgb(163, 193, 203);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #084744;
}

main {
    background-color: #abbfb37e;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

h2 {
    opacity: 0;
    animation: fadeIn 5s ease forwards;
    text-align: center;
}

.about p,
.history p {
    font-size: 17px;
    line-height: 1.6;
    color: #130606;
    margin-bottom: 20px;
    margin-left: 17%;
    margin-right: 15%;
    float: left;
    width: 65%;
}

.active {
    background-color: #4b816d;
}

.logo {
    display: flex;
    justify-content: center;

}

.welcome {
    max-width: 500px;
    max-height: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;    
    text-align: center;
    background-color: rgba(9, 52, 52, 0.251);
}

.welcome h2 {
    font-size: 24px;
    margin-bottom: 20px;
}



.container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.featured-dishes {
    margin-bottom: 20px;
}


.dish {
    margin: 10px;
    text-align: center;
}

.dish-image {
    width: 100%; /* Set width to 100% to make it responsive */
    height: auto;
    display: none;
    max-width: 530px; /* Optionally, set a maximum width to prevent images from becoming too large on large screens */
}


.button-container {
    text-align: center;
    margin-top: 20px;
}

#previousButton, #nextButton {
    width: 100px;
    text-align: center;
    padding: 8px 0;
    background-color: #4b816d;
    color: #fff;
    border: none;
    cursor: pointer;
}

#previousButton:hover {
    background-color: #084744;
}

#nextButton:hover {
    background-color: #084744;
}

.reservation-form {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.video {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust the height as needed */
}

.video iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}




footer {
    background-color: #1c422b;
}

/*menu*/
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.menu-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.menu-table th,
.menu-table td {
    border: 1px solid rgba(255, 255, 255, 0.35);
    padding: 8px;
    text-align: center;
}

/*Contact us*/
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.contact-form h3 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

.contact-form textarea {
    height: 150px; 
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4b816d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #084744;
}


/*submit_form*/

#form_text {
     color: aliceblue;
}