<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Menu</title>
    <link href="https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>
            <div class="logo">
                <a href="homepage">
                    <img width="176" src="/images/channels4_profile.jpg" alt="Restaurant logo">
                </a>
            </div>
        </h1>
        <nav>
            <ul>
                <li><a href="homepage">Home</a></li>
                <li><a href="menu">Menu</a></li>
                <li><a href="contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
            <section class="contact-form">
                <h2 id="contact-text">Let's keep intouch</h2>
                <form id="contactForm" th:action="@{/submit_form}" method="POST">
                    <label path="name">Name:</label>
                    <label for="name"></label><input type="text" id="name" name="name" required><br>
                    <label path="email">Email:</label>
                    <label for="email"></label><input type="email" id="email" name="email" required><br>
                    <label path="message">Message:</label>
                    <label for="message"></label><textarea id="message" name="message" required></textarea><br>
                    <button type="submit">Submit</button>
                </form>
            </section>
    </main>
    <footer>
        <p>Contact us at: mogumogu@email.com | Phone: 123-456-7890</p>
    </footer>
    <script src="/js/script.js"></script>
</body>
</html>
