<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Menu</title>
    <link href="https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1>
            <div class="logo">
                <a href="homepage.html">
                <img width="100" src="/image/channels4_profile.jpg" alt="Restaurant logo">
                </a>
                </div>
        </h1>
        <nav>
            <ul>
                <li><a href="homepage.html">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="menu-container">
        <section class="menu">
            <h2>Appetizer</h2>
            <table id="table">
                <tr>
                    <th>Dish</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>Takoyaki</td>
                    <td>$8.99</td>
                </tr>
               <tr>
                   <td>Gyoza</td>
                   <td>$7.99</td>
               </tr>
               <tr>
                  <td>Edamame</td>
                  <td>$4.50</td>
               </tr>
            <tr>
                <td>Green Salad</td>
                <td>$6</td>
            </tr>
            </table>

            <h2>Ramen</h2>
            <table id="table">
               
                <tr>
                    <td>Spicy Tonkotsu</td>
                    <td>$15</td>
                </tr>
               <tr>
                   <td>Tonkotsu</td>
                   <td>$14.50</td>
               </tr>
               <tr>
                  <td>Shoyu</td>
                  <td>$12.50</td>
               </tr>
            <tr>
                <td>Extra Noodle</td>
                <td>$3</td>
            </tr>
            </table>

            <h2>Rice Dish</h2>
            <table id="table">
               
                <tr>
                    <td>Unagi Bowl</td>
                    <td>$19</td>
                </tr>
               <tr>
                   <td>Teriyaki Beef Bowl</td>
                   <td>$15.50</td>
               </tr>
               <tr>
                  <td>Chicken Katsu Bowl</td>
                  <td>$13.50</td>
               </tr>
            <tr>
                <td>Tuna Poke Bowl</td>
                <td>$10.50</td>
            </tr>
            <tr>
                <td>Fried Pork Rice</td>
                <td>$7</td>
            </tr>
            <tr>
                <td>Extra Rice</td>
                <td>$2</td>
            </tr>
            </table>

            <h2>Desserts</h2>
            <table id="table">
               
                <tr>
                    <td>Mochi Ice Cream</td>
                    <td>$2.50</td>
                </tr>
               <tr>
                   <td>Matcha Green Tea</td>
                   <td>$4.50</td>
               </tr>
               <tr>
                  <td>Hot Green Tea</td>
                  <td>$3.50</td>
               </tr>
            </table>
        </section>
        </div>
    </main>
    <footer>
        <p>Contact us at: mogumogu@email.com | Phone: 123-456-7890</p>
    </footer>
</body>
</html>
