<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Confirmation</title>
    <link href="https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>
        <div class="logo">
            <a href="homepage">
                <img src="/images/channels4_profile.jpg" alt="Restaurant logo" width="176"/>
            </a>
        </div>
    </h1>
    <nav>
        <ul>
            <li><a href="homepage">Home</a></li>
            <li><a href="menu">Menu</a></li>
            <li><a href="contactus">Contact Us</a></li>
        </ul>
    </nav>
</header>
<div class="form">
<h2>Reservation confirmed!</h2>
    <p>Name: <span th:text="${name}"></span></p>
    <p>Email:  <span th:text="${email}"></span></p>
    <p>At: <span th:text="${time}"></span> PST</p>
    <p>Date: <span th:text="${#dates.format(date, 'yyyy-MM-dd')}"></span></p>
</div>
<footer>
    <p>Contact us at: mogumogu@email.com | Phone: 123-456-7890</p>
</footer>
</body>
</html>
